/docker      export-ignore
/test        export-ignore
/.dockerignore         export-ignore
/.gitignore            export-ignore
/.travis.yml           export-ignore
/docker-compose.yml    export-ignore
/Dockerfile            export-ignore