language: php

matrix:
  include:
    - php: 7.0
      dist: xenial
    - php: 7.1
      dist: bionic
    - php: 7.2
      dist: bionic
    - php: 7.3
      dist: bionic
    - php: 7.4
      dist: bionic
    - php: 8.0
      dist: bionic

install:
  - composer install --prefer-dist --no-interaction --no-progress

script:
  - vendor/bin/phpunit
  - vendor/bin/phpunit test || true
  # - vendor/bin/phpunit test/CommonMarkTestWeak.php || true
  - '[ -z "$TRAVIS_TAG" ] || [ "$TRAVIS_TAG" == "$(php -r "require(\"SourceParser.php\"); echo SourceParser::version;")" ]'